<div class="post-footer">
    <div class="container">
        <div class="row">
            <div class="copyright">&copy; 2024</div>
            <ul class="cards-list">
                <li>
                    <div class="icon"><div class="pay-pal-icon"></div></div>
                </li>
                <li>
                    <div class="icon"><div class="visa-icon"></div></div>
                </li>
                <li>
                    <div class="icon"><div class="discover-icon"></div></div>
                </li>
                <li>
                    <div class="icon"><div class="amex-icon"></div></div>
                </li>
                <li>
                    <div class="icon"><div class="mastercard-icon"></div></div>
                </li>
            </ul>
            <ul class="system-util">
                <li>
                    <a href="#">terms &amp; conditions</a>
                </li>
                <li>
                    <a href="#">privacy policy</a>
                </li>
                <li>
                    <a href="#">about us</a>
                </li>
                <li>
                    <a href="#">ontact us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
