*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #CCD5DE;
}
footer .bottom {
  background-color: #fff;
}

header .top-bar {
  background-color: #CCD5DE;
  font-size: 0.875rem;
  padding: 6px;
  display: flex;
  justify-content: space-between;
}
header .top-bar .language {
  color: #0d0d0d;
  display: flex;
}
header .top-bar .language .icon {
  margin-top: 8px;
  margin-left: 6px;
}
header .top-bar .currency {
  color: #0d0d0d;
  display: flex;
}
header .top-bar .currency .icon {
  margin-top: 8px;
  margin-left: 6px;
}
header .top-bar .text {
  color: #0d0d0d;
  text-transform: capitalize;
}
header .top-bar .primary ul {
  display: flex;
  list-style: none;
  column-gap: 20px;
}
header .top-bar .primary a {
  text-decoration: none;
  text-transform: capitalize;
  color: #0d0d0d;
}
header .main-menu {
  display: flex;
  background-color: #0071dc;
}
header .category-menu {
  padding: 20px;
  background-color: #CCD5DE;
}
header .category-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.chevron-down-icon {
  background: url("../img/icons/chevron-down-icon.svg");
  width: 9px;
  height: 5px;
}

.airbud-icons {
  background: url("../img/icons/airbuds-icon.svg") no-repeat;
  width: 50px;
  height: 45px;
}