@mixin border($color) {
    border: 1px solid $color;
}

@mixin padding($value) {
    padding: $value * 1px
}

@mixin set-font-weight($w) {
    font-weight: $w;
}

@mixin set-font-color($c) {
    color: $c;
}

@mixin set-font-size($size) {
    font-size: px-to-rem($size);
}

@mixin set-bg-color($c) {
    background-color: $c;
}

@function px-to-rem($px) {
    @return calc($px / 16) * 1rem;
}

@function tint-color($c, $w) {
    @return mix($clr-light-bg, $c, $w);
}