$clr-base-border: #CCD5DE;
$base-font: "Outfit", sans-serif;
$clr-smart-phone-bg: #d7dcd6;
$clr-laptops-bg: #ffe3da;
$clr-speakers-bg: #dbeaff;
$clr-games-bg: #cdd6d5;
$clr-air-buds-bg: #d8f5e0;
$clr-tv-bg: #fff3d9;
$clr-appliances-bg: #d4dfe2;
$clr-main-menu-bg: #0071dc;